#Square {
	height: 100px;
	width: 100px;
	border: 5px solid black;
	text-align: center;
	font-size: 4rem;
	background-image: linear-gradient(to left, green, yellow, green);
}

#gameboard {
	display: flex;
	width: 400px;
	flex-wrap: wrap;
	flex-direction: row;
	margin: 0 auto;
}

h1 {
	font-family: 'Architects Daughter', cursive;
	text-align: center;
	font-size: 80px
}
h2 {
	text-align: center;
	font-size: 40px
}

#restartbutton {
	text-align: center;
	font-size: 20px;
}

footer {
	text-align: center;
	
	color: whitesmoke;
	font-size: 2rem;
	border-style: solid;
	background-color: black
	
}

.button {
	text-align: center
}

.background {
	background-size: cover;
}

body {
	background-image: url("https://i.pinimg.com/originals/01/45/2f/01452ff8c01984e53e02ef877afd6917.png");
	background-size: cover;
}